.title{
    // border: solid red 2px;
    align-self: center;
    margin: auto;
    text-align: center;
    display: inline;
    padding-bottom: 20px;
}

.footer{
    border-top: solid 2px rgb(219, 128, 0);
}